# Usage: docker-compose -f docker/docker-compose.yaml run swift-memcache-gsoc
version: "3.9"
services:
  # Swift on Server CI
  # e.g. docker-compose -f docker/docker-compose.yaml -f docker/docker-compose.2204.57.yaml run test
  
  memcached:
    image: memcached:latest
    networks:
      - memcached
    ports:
        - 11211
  
  runtime-setup:
    image: swift-memcache-gsoc:default
    build:
      context: .
      dockerfile: Dockerfile

  common: &common
    image: swift-memcache-gsoc:default
    depends_on: [runtime-setup]
    volumes:
      - ~/.ssh:/root/.ssh
      - ..:/code:z
    working_dir: /code

  soundness:
    <<: *common
    command: /bin/bash -xcl "swift -version && uname -a && ./scripts/soundness.sh"

  test:
    <<: *common
    depends_on:
        - runtime-setup
        - memcached
    command: /bin/bash -xcl "swift $${SWIFT_TEST_VERB-test} $${WARN_AS_ERROR_ARG-} $${SANITIZER_ARG-} $${IMPORT_CHECK_ARG-} && cd Benchmarks && swift package --disable-sandbox benchmark baseline check --check-absolute-path Thresholds/$${SWIFT_VERSION-}/"
    networks:
      - memcached

  # util

  shell:
    <<: *common
    entrypoint: /bin/bash

  update-benchmark-baseline:
    <<: *common
    depends_on:
        - runtime-setup
        - memcached
    command: /bin/bash -xcl "cd Benchmarks && swift package --disable-sandbox --scratch-path .build/$${SWIFT_VERSION-}/ --allow-writing-to-package-directory benchmark --format metricP90AbsoluteThresholds --path Thresholds/$${SWIFT_VERSION-}/"

# dedicated network

networks:
  memcached:
